# Coding style with EditorConfig
# Plugin for your editor/IDE on http://EditorConfig.org

# top-most EditorConfig file
root = true

# General config
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# C style: BSD/Allman
[*.{c,cpp,h,hpp}]
# charset = us-ascii is currently not supported
# see https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#charset
charset = us-ascii
# indent_brace_style = Allmann is currently not supported
# see https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties
indent_brace_style = Allmann
indent_style = space
indent_size = 4
max_line_length = 120

[{*.cmake, CMakeLists.txt}]
# charset = us-ascii is currently not supported
charset = us-ascii
indent_style = space
indent_size = 4
max_line_length = 120

[Makefile]
# charset = us-ascii is currently not supported
charset = us-ascii
indent_style = tab
max_line_length = 120

[*.yml]
indent_style = space
indent_size = 2
